@import '../../../../colors.css';

.car-count {
	background: var(--light-grey);
	padding: 10px;
	text-align: center;
}
.filter-card {
	background-color: var(--secondary);
	padding: 10px;
	text-align: center;
}
.main-container {
	border-bottom: 12px solid var(--light-grey);
	padding: 20px 0;
}

.main-container:last-child {
	border: 0;
}
::ng-deep {
	.car-filter {
		position: fixed;
		bottom: 20px;
		width: 100%;
		text-align: center;
		padding-right: 60px;
		span {
			color: var(--secondary);
		}
	}
	.p-buttonset .p-button {
		border: 2px solid #ced4da;
	}
}
